.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.highlighted,
.highlighted a {
  background-color: #ffff5b !important;
}
.highlighted:active,
.highlighted.active,
.highlighted:focus,
.highlighted.focus,
.highlighted:hover,
.highlighted a:hover {
  background-color: #ffff1c !important;
  border-color: #000000 !important;
}