@import url('https://fonts.googleapis.com/css?family=Kavivanar');

body {
  margin: 5px;
  padding: 0;
  font-family: sans-serif;
}

/*card formatting*/

div.card {
  width: 15rem;
  margin: 2px 0;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

p.card-title {
  font-family: Kavivanar, sans-serif;
  padding: 5px;

}

/*button formatting next to note*/

div.note:hover > span {
  opacity: 1;
}

span.hidden-note:hover {
  opacity: 1;
}

span.hidden-note {
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

#done {
  background-color: #5cb85c;
}

#edit {
  background-color: #e8e100;
}

#remove {
  background-color: #d9534f;
}

#omfg {
  background-color: #d90022;
}

#ghost {
  background-color: #999999;
}
